body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
  }



.header {
    display: flex;
    justify-content: space-betweengi;
    gap: 0px;

    padding: 20px 500px;

    background-color: #1F2937;

}

.left_header {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.right_header {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
}



.header a {
    text-decoration: none;
    color: #E5E7EB;
    margin: 0px;
    padding: 0px;
    font-size: 18px;
}


.signupimg {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px; 
    padding: 40px 400px;
    margin-left: -100px;
   
    background-color: #1F2937;
}

.sui_textbutton {
    height: 300px;
    width: 400px;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}

.sui_textbig {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
    flex-grow: 1;
}

.sui_textsmall {
    font-size: 18px;
    color: #E5E7EB;
    flex-grow: 1;
}

.sui_image  {
    transform: rotate(90deg);
}

.signupimg button {
    color: #f9faf8;
    background-color: #3882f6;
    border: 3px solid #3882f6;
    border-radius: 5px;
   
    font-weight: 700;
    flex-grow: 1;

    width: 100px;
    height: 10px;
}

.imagetextbox {
    display: flex;
    justify-content: center;
    gap: 100px;

}

.img_quotes_text {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;

    margin-bottom: 50px;
}

.img_quotes {
    text-align: center;
    padding: 50px 100px 100px 100px;
    
}

.imagetextbox img {
    width: 200px;
    height: 200px;

    border: 7px solid #3882f6;
    border-radius: 10px;
}

.imagetextbox blockquote {
    margin: 0px;
    padding: 0px; 
    width: 300px;

    color: #1F2937;
    font-size: 18px;

    margin-top: 10px;
}

.quote {
    background-color: #e5e7eb;
    padding: 100px 200px;
}

.qtext {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
}

.qperson {
    display: block;
    font-size: 24px;
    color: #1F2937;
    font-weight: 400;
    text-align: right;
}

.callaction {
    display: flex;
    margin: 50px 30px;
    background-color: #3882f6;
}

.persuetosign {
    display: flex;
    flex-direction: column;
}

.footer {
    background-color: #1F2937;
    color: #f9faf8;
    text-align: center;
}

.test {
    border: 2px solid red;
}
