body {
    font-family: 'Roboto', sans-serif;
  }

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;

    padding: 20px 100px;

    background-color: #1F2937;
}

.header a {
    text-decoration: none;
    color: #E5E7EB;
    margin: 0px;
    padding: 0px;
    font-size: 18px;
}

.header div {
    font-size: 24px;
    color: #F9FAF8;
    flex-grow: 1;
    font-weight: bold;
}

.signupimg {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;

    background-color: #1F2937;
}

.imagetextbox {
    display: flex;
    justify-content: space-around;
}

.quote {
    display: flex;
    flex-direction: column;

    background-color: #e5e7eb;
}


.qperson {
    align-self: flex-end;
}

.callaction {
    display: flex;
    margin: 50px 30px;
    background-color: #3882f6;
}

.persuetosign {
    display: flex;
    flex-direction: column;
}

.footer {
    background-color: #1F2937;
    color: #f9faf8;
    text-align: center;
}