body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
  }



.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;

    padding: 20px 300px;

    background-color: #1F2937;
}

.header a {
    text-decoration: none;
    color: #E5E7EB;
    margin: 0px;
    padding: 0px;
    font-size: 18px;
}

.header div {
    font-size: 24px;
    color: #F9FAF8;
    flex-grow: 1;
    font-weight: bold;
}

.signupimg {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    
    padding: 100px 0px;
    margin-left: -40px ;

    background-color: #1F2937;

}

.sui_textbig {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
    
    width: 400px;
}

.sui_textsmall {
    width: 400px;

    font-size: 18px;
    color: #E5E7EB;
}

.sui_image  {
    border: 2px solid red;
    transform: rotate(90deg);

.signupimg button {
    color: #f9faf8;
    background-color: #3882f6;
    border: 3px solid #3882f6;
    border-radius: 5px;

    margin-top: 10px;

    width: 150px;
    height: 40px;

    font-weight: 700;
}

.imagetextbox {
    display: flex;
    justify-content: space-around;
}

.quote {
    display: flex;
    flex-direction: column;

    background-color: #e5e7eb;
}


.qperson {
    align-self: flex-end;
}

.callaction {
    display: flex;
    margin: 50px 30px;
    background-color: #3882f6;
}

.persuetosign {
    display: flex;
    flex-direction: column;
}

.footer {
    background-color: #1F2937;
    color: #f9faf8;
    text-align: center;
}