.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;

    background-color: #1F2937;
}

.header a {
    text-decoration: none;
    color: #E5E7EB;
    margin: 0px;
    padding: 0px;
    font-size: 18px;
}

.header div {
    font-size: 24px;
    color: #F9FAF8;
    flex-grow: 1;
}

.signupimg {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;

    background-color: #1F2937;
}

.imagetextbox {
    display: flex;
    justify-content: space-around;
}